
.coral {
  font-weight: 900;
  background: lightgray;
  margin: 5px 10px 5px 10px;
  padding: 20px;
  border: 1px solid lightskyblue;
  border-radius: 10px;
}

.other {
  background: whitesmoke;
  margin: 5px 20px 5px 20px;
  padding: 20px;
  border: 1px solid lightskyblue;
  border-radius: 10px;
}

#new__event__form{
  margin-left: 20px;
  margin-right: 20px;
}

.event__title {
  margin-left: 10px;
  margin-top: 0px;
}

.new__button {
  margin-left:25px;
} 

.card-title {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: left;
  flex-direction: column;
  text-align: left;
}

.card-date {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: left;
  flex-direction: column;
  text-align: left;
}

.card-location {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: left;
  flex-direction: column;
  text-align: left;
}

.card-details {
  display: flex;
  justify-content: space-around;
  align-items: left;
  flex-direction: column;
  text-align: left;
}

.card-button {
  display: flex;
  flex-direction: row;
  align-items: left;
  text-align: left;
  margin-right:10px;
  }