.news_card {
  background: whitesmoke;
  margin: 5px 20px 20px 0px;
  padding: 20px;
  border: 1px solid lightskyblue;
  border-radius: 10px;
}

.btn_small{
  font-size: .8em;
  padding: 3px 5px
}
.btn_mod {
  background: cornflowerblue;
  margin-right: 10px;
}

.btn_mod:hover {
  background: rgb(18, 212, 18);
}

.btn_delete {
  background: rgb(147, 157, 167);
  margin-right: 10px;
}

.btn_delete:hover {
  background: red;
}