.nav_bkg {
  background: rgb(71, 71, 71);
  color: whitesmoke;
  padding-top: 20px
}

.nav_title {
  margin-left: 20px;
}

.nav_link_colors {
  color: whitesmoke;
  font-weight: bold;
}

.nav_link_colors:hover {
  color: rgb(71, 71, 71);
  background: whitesmoke;
}